.salir button{
    height: 40px;
    width: 150px;
    background-color: rgb(173, 27, 27);
    cursor: pointer;
    border: 2px solid white;
    font-weight: bold;
}

.salir button:hover{
    background-color: rgb(129, 28, 28);
    color: white;
    transition: 0.15s;
}