.boton{
    width: auto;
}

.boton input{
    margin-top: 5px;
    width: 120px;
    height: 40px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
}

.boton input:hover{
    opacity: 0.85;
    cursor: pointer;
}