/* Estilos para el encabezado y el botón de abrir el menú */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: relative;
  }
  
  .header img {
    height: 50px;
  }
  
  #toggle {
    display: none;
  }
  
  .toggle-button {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    color: #fff;
  }
  
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    background-color: #222;
    padding: 20px;
    transition: right 0.5s;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%); /* Desplaza el menú fuera de la pantalla */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    margin-bottom: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.2s;
  }
  
  .navbar a:hover {
    color: #4CAF50;
  }
  
  #toggle:checked + .navbar {
    right: 0;
    transform: translateX(0); /* Trae el menú de nuevo a la pantalla */
  }
   /* Estilos para pantallas más pequeñas (móviles) */
   @media screen and (max-width: 768px) {
    .header {
      padding: 10px;
    }
  
    .toggle-button {
      font-size: 20px;
    }
  
    .navbar {
      width: 100%;
    }
  
    .section-button {
      font-size: 16px;
    }
  
    .logout-button {
      font-size: 16px;
    }
  }
  
 